<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get weather!</p>
        <form>
            <input placeholder="Enter Location" type="text">
            <button>Search</button>
        </form>
        <br>
        <p id="error-message"></p>
        <p id="location-message"></p>
        <p id="weather-message"></p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>